<div class="container">
  
  <div class="large-img">
    <%= link_to image_tag(@project.avatar.url(:large)), @project.url %>
  </div>
  <div class="project-profile">
    <h1 class="project-name"><%= @project.name %></h1>
    <p class="project-description">"<%= @project.description %>"</p>
  </div>
  <div class="project-team">
  	<h3>Developed By</h3>
  	<% @project.boots.each do |boot| %>
  	<div class="boot-profile">
  		<div class="boot-img">
  			<%= image_tag(boot.avatar.url(:medium)) %>
  		</div>
  		<p><%= boot.first_name %> <%= boot.last_name %></p>
  	</div>
  	<% end %>

  </div>
</div>